<div class="row">
  <div class="col-md-3">
    <p><%= @guest.name %></p>
  </div>
  <div class="col-md-4">
    <p><%= @guest.email %></p>
  </div>
  <div class="col-md-3">
    <p><%= link_to "Delete", event_guest_path(@event, @guest), method: "delete",  data: {confirm: "Are you sure?"} %></p>
  </div>

</div>

