    <div class="page-content" id="page-content">
      <div class="row">
        <div class="col-md-10 col-offset-md-1">
          <div class="page-header-background center-block">
              <div class="page-header"></div>     

          </div>
          <%= markdown(@event.content) %>
        </div>
    </div>
  </div>